footer {
  height: 70px;
  text-align: center;
  background-color: rgba(250, 251, 252, 0.993);
  border: 2px solid rgb(216, 210, 210);
  margin-top: 25px;
  background: url(../../img/bckgrd.jpeg) no-repeat center fixed/cover;

  .year {
    margin: 25px;
  }
}
