.topbar {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 10px;
      cursor: pointer;
    }
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }
}
