.topbar {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  background: url(../../img/bckgrd.jpeg) no-repeat center fixed/cover;
  background-attachment: scroll;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 10px;
      cursor: pointer;
    }
  }

  .p {
    margin: 30px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
    color: rgb(41, 40, 40);
  }

  .fa:hover {
    opacity: 0.7;
  }
}
