.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  background: url(../../img/bckgrd.jpeg) no-repeat center fixed/cover;

  .showcase {
    margin-bottom: 50px;
    text-align: center;
  }
  .mvnlogo {
    position: center;
    margin: 50px;
  }

  p {
    font-family: "Proza Libre", sans-serif;
    font-weight: 550;
    color: black;
  }
}
